<!DOCTYPE html>
<html ng-app="addrouterApp">

<head>
    <title>router</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/components/bootstrap-theme.css">

    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

    <script src="/components/angular.min.js"></script>
    <script>
        angular.module("addrouterApp",[]);
    </script>
    <script src="controllers/addControllers.js"></script>
</head>

<body ng-controller="mainController">
    <form class="form-inline">
        <div class="panel panel-default">
            <div class="panel-heading">
                <form class="form-inline">
                    <div class="form-group">
                        <select class="form-control" ng-model="nodo.operadora"> 
                        <option>MVC</option>
                        <option>MVP</option>
                        <option>ENP</option>
                        <option>ECL</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control" ng-model="nodo.nombre">
                    </div>
                </form>
                <table width="100%" class="table table-condensed">
                    <thead>
                        <tr>
                            <th colspan="7" class="text-center">
                                <h4>Rutas</h4>
                                <button class="add_ruta_button btn btn-default btn-xs" type="button" data-ruta="0" ng-click="add_ruta_button($event)">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> add Ruta
						        </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="panel-body">

            </div>
            <button ng-click="selecting()" type="submit">sss</button>
        </div>
    </form>
</body>

</html>
